
body , html {
    height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
 
}
header {
    font-size: 24px;
    
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Asset\ 4.svg");

    height: 90%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
#buttons {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
}


footer{
    font-size: 20px;
}

.fa-instagram {
    color: black;
}

.fa-facebook {
    color: black;
}









